.search-container {
  position: sticky;
  top: 0;
  
  background: #18d04c;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;

}

.feed-container {
  background: #18d04c;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  min-height: 100vh;
}
