@keyframes trainMoving {
  0% {
    transform: translateX(-300%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(300%);
    opacity: 0;
  }
}

.search-container {
  position: sticky;
  top: 0;
  z-index: 1;

  background: #18d04c;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.feed-container {
  background: #18d04c;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  flex: 1;
  position: relative;
}

.scroll {
  position: fixed;
  bottom: 100px;
  right: 0;
  z-index: 5;
}

.no-stations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin-top: 15px;
  }

  p {
    color: #0f782c;
  }

  img {
    transform: translateX(-300%);
    animation: trainMoving 3s infinite ease-in-out;
    opacity: 0;
    width: 36.6px;
  }
}

.animation-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
