.search-wrap {
  background: white;
  border-radius: 10px;
  font-size: 14px;

  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 0;
    font-size: 14px;

    &::placeholder {
      transition: 0.25s ease-in-out;
      color: #0c802c;
    }

    &:focus {
      &::placeholder {
        transform: translateY(-30px);
        opacity: 0;
      }
    }
  }
}

.search-location {
  padding-left: 20px;
  color: #878787;
  display: flex;
  img{
    margin-right: 5px;
  }
}

.SearchBar {
  padding-left: 20px;
  outline: 0;
}
